[submodule "profile-edit"]
	path = profile-edit
	url = https://github.com/lcnetdev/profile-edit.git
[submodule "bfe"]
	path = bfe
	url = https://kirkhess:vid1Ak1d@github.com/shmccallum/bfeditor.git
[submodule "bfeditor"]
	path = bfeditor
	url = https://kirkhess:vid1Ak1d@github.com/shmccallum/bfeditor.git
